<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <legend>Forgot your password?</legend>
  <%= devise_error_messages! %>

  <div class="control-group <%= control_group_error(resource, :email) %>">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :email, :autofocus => true %>
      <%= error_help_text(resource, :email) %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Send me reset password instructions", :class => "btn btn-primary btn-embossed" %>
    </div>
  </div>
  <%= render "shared/devise/links" %>
<% end %>
