<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  <legend>Change your password</legend>
  <%= f.hidden_field :reset_password_token %>

  <div class="control-group <%= control_group_error(resource, :password) %>">
    <%= f.label :password, "New password", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :autofocus => true %>
      <%= error_help_text(resource, :password) %>
    </div>
  </div>

  <div class="control-group <%= control_group_error(resource, :password_confirmation) %>">
    <%= f.label :password_confirmation, "Confirm new password", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %></div>
      <%= error_help_text(resource, :password_confirmation) %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Change my password", :class => "btn btn-primary btn-embossed" %>
    </div>
  </div>

  <%= render "shared/devise/links" %>
<% end %>
