<%= form_for(@job, :html => { :class => "form-horizontal" }) do |f| %>
  <legend><%= action %> your job</legend>

  <div class="control-group <%= control_group_error(@job, :title) %>">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title, :label => "Title" %>
      <%= error_help_text(@job, :title) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :company, "Company", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :company %>
    </div>
  </div>

  <div class="control-group <%= control_group_error(@job, :contact_name) %>">
    <%= f.label :contact_name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :contact_name %>
      <%= error_help_text(@job, :contact_name) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :contact_number, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :contact_number %>
    </div>
  </div>

  <%= render :partial => "shared/form/address", :locals => { :f => f, :obj => @job } %>

  <div class="control-group <%= control_group_error(@job, :type) %>">
    <%= f.label :type, "Job type", :class => "control-label" %>
    <div class="controls">
      <%= collection_select(:job, :type, @types, "id", :title, { :prompt => true }) %>
      <%= error_help_text(@job, :type) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_date, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend input-datepicker">
        <button type="button" class="btn"><span class="fui-calendar"></span></button>
        <input type="text" class="span2" value="<%= @job.default_start_date %>" id="datepicker-start-date" name="job[start_date]">
      </div>
    </div>
  </div>

  <div class="control-group <%= control_group_error(@job, :category) %>">
    <%= f.label :category, :class => "control-label" %>
    <div class="controls">
      <%= collection_select(:job, :category, @categories, :id, :title, { :prompt => true }) %>
      <%= error_help_text(@job, :category) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Pay range (per hour)", :class => "control-label" %>
    <div class="controls">
      <div id="pay-slider" class="mtm ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
        <div class="ui-slider-segment" style="margin-left: 25%;"></div>
        <div class="ui-slider-segment" style="margin-left: 25%;"></div>
        <div class="ui-slider-segment" style="margin-left: 25%;"></div>
        <span class="ui-slider-value first">$<%= @job.default_pay_rate_min %></span>
        <span class="ui-slider-value last">$<%= @job.default_pay_rate_max %></span>
        <%= f.hidden_field :pay_rate_min, :value => @job.default_pay_rate_min %>
        <%= f.hidden_field :pay_rate_max, :value => @job.default_pay_rate_max %>
      </div>
    </div>
  </div>

  <div class="control-group <%= control_group_error(@job, :summary) %>">
    <%= f.label :summary, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :summary, :class => "span12", :rows => "3" %>
      <p class="help-block"><small>this will appear on search result pages</small></p>
    </div>
  </div>

  <div class="control-group <%= control_group_error(@job, :description) %>">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :class => "span12", :rows => "12" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :ideal_candidate, "Your ideal candidate", :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :ideal_candidate, :class => "span12", :rows => "3" %>
    </div>
  </div>

  <%= render :partial => "shared/form/skills", :locals => { :f => f } %>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "#{action}", :class => "btn btn-primary btn-embossed" %>
    </div>
  </div>
<% end %>
