<div class="page-header">
  <h3>All available jobs</h3>
</div>
<% @jobs.each do |job| %>
  <div class="media media-job">
    <div class="media-body">
      <h4 class="media-heading"><%= link_to job.title.html_safe, job_path(job) %> <small>- <%= job.category.title %></small></h4>
      <%= job.summary.html_safe %>
      <p class="mbn mtl"><a href="<%= job_path(job) %>">View this job <small><span class="fui-arrow-right"></span></small></a></p>
    </div>
  </div>
<% end %>
<%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>
