<div class="clearfix mbm">
  <h3><%= @job.title %> <small>- <%= @job.category.title %></small></h3>
</div>

<div class="media mbl mtn">
  <div class="media-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Pay range (p/h)</td>
          <td><%= @job.formatted_pay_rate_min %> - <%= @job.formatted_pay_rate_max %></td>
        </tr>
        <tr>
          <td>Start date</td>
          <td><%= @job.default_start_date %></td>
        </tr>
        <tr>
          <td>Work type</td>
          <td><%= @job.work_type %></td>
        </tr>
        <tr>
          <td>Location</td>
          <td><%= @job.address %></td>
        </tr>
        <% if @job.skill_list %>
          <tr>
            <td>Skills required</td>
            <td>
              <%= @job.skill_list.to_sentence(:last_word_connector => ", ") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h6>Job description</h6>
    <%= simple_format(@job.description) %>
    <% if @job.ideal_candidate %>
      <div class="well well-job mbn mtl">
        <h6>Ideal candidate</h6>
        <%= simple_format(@job.ideal_candidate) %>
      </div>
    <% end %>
  </div>
</div>

<% if !current_employer %>
  <div class="media mbl mtn">
    <div class="media-body">
      <div class="span9">
        <h6>Does this sound like you?</h6>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
      </div>
      <div class="span3">
        <% if current_user.can_apply_to(@job) %>
          <%= render :partial => "apply_button", :locals => { :disabled => false } %>
        <% else %>
          <%= render :partial => "apply_button", :locals => { :disabled => true } %>
        <% end %>
      </div>
    </div>
  </div>
<% elsif @job.employer_id == current_employer.id %>
  <div class="row-fluid">
    <%= link_to "View job applications", job_applications_path(@job.id), :class => "btn btn-embossed btn-info btn-block span4 offset4" %>
  </div>
<% end %>
