<h1><%= @job.title %></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Candidate</th>
      <th>View</th>
      <th>Accepted</th>
      <th>Reject</th>
      <th>Shortlist</th>
    </tr>
  </thead>

  <tbody>
    <% @job.applications.order(created_at: :asc).each do |application| %>
      <tr class="<%= application_status_class(application) %>">
        <td><%= application.candidate.profile.full_name %></td>
        <td><%= link_to "View application", "#" %></td>
        <td><%= link_to "Accept", accept_applicant_application_path(application.id) %></td>
        <td><%= link_to "Reject", reject_applicant_application_path(application.id) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>

</table>