<%= form_for(resource, :html => { :class => "form-horizontal" }, :as => resource_name, :url => path) do |f| %>
  <legend>Sign up as an <%= user_type %></legend>

  <div class="control-group <%= control_group_error(resource, :email) %>">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
      <%= error_help_text(resource, :email) %>
    </div>
  </div>

  <div class="control-group <%= control_group_error(resource, :password) %>">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, class: "js-password" %>
      <%= error_help_text(resource, :password) %>
    </div>
  </div>

  <div class="control-group <%= control_group_error(resource, :password_confirmation) %>">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, class: "js-password-confirmation" %>
      <%= error_help_text(resource, :password_confirmation) %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Sign up", :class => "btn btn-primary btn-embossed" %>
    </div>
  </div>

  <%= render "shared/devise/links" %>
<% end %>
