<li class="<%= 'active' if params[:controller] == 'jobs' %>">
  <%= link_to "Find a job", jobs_path %>
</li>
<% if current_candidate.has_profile? %>
  <li class="<%= 'active' if params[:controller] == 'candidates/profiles' %>">
    <%= link_to "My profile", edit_candidates_profiles_path %>
  </li>
<% else %>
  <li class="<%= 'active' if params[:controller] == 'candidates/profiles' %>">
    <%= link_to "My profile", new_candidates_profiles_path %>
  </li>
<% end %>
<li class="<%= 'active' if params[:controller] == 'devise/registrations' %>">
  <%= link_to "My account", edit_candidate_registration_path %>
</li>
<li><%= link_to "Sign out", destroy_candidate_session_path, :method => :delete  %></li>
