<li class="<%= 'active' if params[:controller] == 'jobs' && params[:action] == 'new' || params[:action] == 'edit' %>">
  <%= link_to "List a job", new_job_path  %>
</li>
<li class="<%= employers_dashboard_path_class %>">
  <%= link_to "My jobs listings", employers_dashboard_path %>
</li>
<li class="<%= 'active' if params[:controller] == 'devise/registrations' %>">
  <%= link_to "My account", edit_employer_registration_path %>
</li>
<li><%= link_to "Sign out", destroy_employer_session_path, :method => :delete  %></li>
