<%= form_for(@profile, :html => { :class => "form-horizontal" }, url: candidates_profiles_path) do |f| %>
  <legend><%= action %> your profile</legend>

  <div class="control-group <%= control_group_error(@profile, :name) %>">
    <%= f.label :name, "Name (full)", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :autofocus => true %>
      <%= error_help_text(@profile, :name) %>
    </div>
  </div>

  <%= render :partial => "shared/form/address", :locals => { :f => f, :obj => @profile } %>

  <div class="control-group <%= control_group_error(@profile, :contact_number) %>">
    <%= f.label :contact_number, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :contact_number %>
      <%= error_help_text(@profile, :contact_number, "pts") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :about_me, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :about_me, :class => "span12", :rows => "3" %>
    </div>
  </div>

  <div class="control-group <%= control_group_error(@profile, :previous_work_experience) %>">
    <%= f.label :previous_work_experience, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :previous_work_experience, :class => "span12", :rows => "3" %>
      <%= error_help_text(@profile, :previous_work_experience, "pts") %>
    </div>
  </div>

  <%= render :partial => "shared/form/skills", :locals => { :f => f } %>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "#{action}", :class => "btn btn-primary btn-embossed" %>
    </div>
  </div>
<% end %>
