<%= form_for(@profile, :html => { :class => "form-horizontal" }, url: candidates_profile_path) do |f| %>
  <legend><%= action %> your profile</legend>

  <div class="control-group">
    <%= f.label :first_name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :first_name, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address_line_1, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :address_line_1 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address_line_2, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :address_line_2 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :region, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :region %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city_or_town, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :city_or_town %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :information, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :information, :class => "span8", :rows => "3" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :previous_work_experience, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :previous_work_experience, :class => "span8", :rows => "3" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :skill_list, "Skills", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :skill_list, :class => "tagsinput tagsinput-primary" %>
      <%#= f.text_field :skill_list %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "#{action}", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
