<!DOCTYPE html>
<html lang="en">
  <%= render :partial => "shared/head" %>
  <body>
    <div id="wrap">
      <%= render :partial => "shared/header" %>
      <div class="container-fluid" id="main">
        <div class="row-fluid">
          <div class="span3">
            <%= render :partial => "shared/sidebar" %>
          </div>
          <div class="span9">
            <%= render :partial => "shared/flash_message" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>
