<!DOCTYPE html>
<html lang="en">
  <%= render :partial => "shared/head" %>
  </head>
  <body>
    <div id="wrap">
      <%= render :partial => "shared/header" %>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <%= render partial: "shared/flash_message" %>
            <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>